<% provide :title, t("home") %>
<% if logged_in? %>
  <div class="panel panel-info">
    <div class="panel-heading">
      <b><%= t "e_learning" %></b>
    </div>
    <div class="row">
      <div class="col-md-4" style="padding-left: 50px;">
        <div class="caption">
          <section class="user_info">
            <%= render "shared/user_info" %>
          </section>
        </div>
      </div>
      <div class="col-md-8" style="">
        <br/>
        <%= link_to t("word_list"),"#", class: "action-button shadow animate blue" %>
        <%= link_to t("lesson"),"#", class: "action-button shadow animate red" %>
      </div>
    </div>
  </div>
<% else %>
  <div class="jumbotron" align="center">
    <h2> <%= t "hello" %></h2>
    <%= link_to t("log_in"), login_path, class: "btn btn-lg btn-primary" %>
    <br/><br/>
    <%= link_to t("sign_up"), signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
