<% provide :title, @user.name %>
<div class="row">
  <aside class="col-md-3">
    <section>
      <%= image_tag @user.avatar.url,
        size: Settings.user.avatar.profile_avatar_size if @user.avatar  %>
      <h3>
        <%= @user.name %>
      </h3>
    </section>
    <section>
      <%= render Settings.choices.follow_form %>
    </section>
    <section class="stats">
      <%= render "shared/stats" %>
    </section>
  </aside>
  <div class="col-md-9">
    <% if @user.activities.any? %>
      <h3 align="center"><%= t :activities %></h3>
      <div class="activities">
        <%= render @activities if @user.activities.any? %>
      </div>
      <hr>
    <% end %>
  </div>
</div>
