<ol>
  <h4>
    <%= image_tag current_user.avatar.url,
      size: Settings.user.avatar.list_user_avatar_size if current_user.avatar  %>
    <span class="text-info"><%= current_user.name %></span>
    <%= activity.type_action %>
    <% if activity.type_action == Settings.activities.learned %>
      <%=  Settings.activities.a_lesson_in %>
      <%= link_to activity.target.category.name, categories_path %>
    <% else %>
      <%= link_to activity.target.name, activity.type_action %>
    <% end %>
  </h4>
  <small class = "activities">
    <% if  Time.zone.now - activity.created_at < 1.day %>
      <%= time_ago_in_words activity.created_at %>
    <% else %>
      <%=  activity.created_at %>
    <% end %>
  </small>
  <hr>
</ol>
